

body {
    
    min-height: 100vh;
    background-image: url(./assets/jukebox-g5a0493d59_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.flex__column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selecionar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px;
    
}

select, input{
    font-size: 25px;
    padding: 10px;
    border-radius: 20px;
    background-color:rgb(133, 7, 80);
    color: white;
    border:#ff51e8;
    box-shadow: 0 0 1px #ff51e8, 0 0 2px #ff51e8, 0 0 6px #ff51e8, 0 0 12px #ff51e8, inset 0 0 1px #ff51e8, inset 0 0 2px #ff51e8, inset 0 0 6px #ff51e8, inset 0 0 12px #ff51e8;
    font-family: 'Josefin Sans', sans-serif;
    
}

form{
    font-size: 20px;
    position: relative;
}

.escondido{
    display:none;
}

modal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 128, 0);
    color: white;
    height: 60px;
    width: 300px;
    position: absolute;
    left: 85%;
    top: 60%;
}

img.warning{
    width: 10%;
}

span.triangle{
    
    border-bottom: 15px solid rgb(0, 128, 0);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: -15px;
    left: 10px;
    
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    bottom: 3%;
    left: 11.2%;   
}

.github-icon, .linkedin-icon{
    width: 20px;  
}

